@use "../../assets/scss/abstract/mixins" as mixins;

.ourProjects {
    margin-bottom: 10rem;

    &__container_content {
        padding: 0 10rem;
        margin-bottom: 5rem;

        @include mixins.respond("md") {
            padding: 2rem;
        }
    }

    &__title {
        text-align: center;
        font-weight: 700;
        margin-bottom: 2rem;
    }

    &__content {
        margin-bottom: 2rem;
    }

    &__container_logos {
        text-align: center;
    }

    &__logo {
        width: 20rem;
        height: auto;
    }

}